@media screen and (min-width: 1000px) {
    html {
        font-family: 'Original Surfer';
    }

    /* HEADER SECTION */

    header {
        display: grid;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 0px;
        margin-top: 0px;
        align-items: center;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 60px;
        margin-bottom: 10px solid;
    }

    #logoa {
        grid-column: 1 / 2;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #logo {
        width: 75px;
        height: 75px;
    }

    #titlel {
        text-decoration: none;
    }

    h1 {
        grid-column: 2 / 3;
        font-size: 20px;
        margin-left: -40px;
        color: #008EFF;
    }

    .navigation {
        grid-column: 3 / 7;
    }

    .navigation ul {
        list-style: none;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: -50px;
        text-align: center;
    }

    .navigation li {
        float: left;
        margin-left: 35px;
        margin-right: 35px;
    }


    .navigation a {
        text-decoration: none;
        color: #008EFF;
        font-size: 20px;
    }

    .navigation .active {
        background-color: #008EFF;
        padding: 20px;
        color: white;
    }

    #facebook {
        grid-column: 7 / 8;
        width: 40px;
        height: 40px;
        margin-left: 120px;
        display: block;

        margin-right: auto;
    }

    #instagram {
        grid-column: 8 / 9;
        width: 40px;
        height: 40px;
        display: block;
        margin-left: 20px;
        margin-right: auto;
    }


    /*Invitation Banner START*/
    .invbanner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;

        height: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 8px;

        border: 1px solid gray;
        color: white;
        background-color: #FE663E;
        text-align: center;

        font-size: 20px;
        font-weight: bold;
    }

    #invitation {
        text-align: center;
        float: right;
        margin: 0px;
    }

    /* Style the close button (span) */
    .close {
        cursor: pointer;
        padding: 8px 8px;
        font-size: 20px;
        font-weight: bolder;
    }

    .close:hover {
        background: #bbb;
    }

    /* Invitation Banner END*/


    /* HERO IMAGE SECTION */

    .heroe-box {
        height: 400px;
        margin-left: 5px;
        margin-right: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    #heroe-images {
        grid-column: 1 / 4;
        grid-row: 1 / 4;
    }

    #heroe-image {
        width: 100%;
        height: 400px;
    }

    #hero-banner {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #join {
        width: 10em;
        color: white;
        background-color: #FE663E;
        border-radius: 10px;
        font-size: 25px;
        height: 70px;

    }

    #joina {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        place-self: center;
    }

    /* IMAGES SECTION */

    .banner-title {
        text-align: center;
    }

    .banner-title-m {
        margin-top: -80px;
        text-align: center;
    }

    .images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 250px;
        margin-left: 50px;
        margin-right: 20px;
    }

    .imgc {
        height: 200px;
        width: 400px;
    }

    #c1 {
        grid-column: 1 / 2;
        max-width: 400px;
        max-height: 200px;
    }

    #c2 {
        grid-column: 2 / 3;
        max-width: 400px;
        max-height: 200px;
    }

    #c3 {
        grid-column: 3 / 4;
        max-width: 400px;
        max-height: 200px;
    }

    h3 {
        text-align: center;
        margin-top: 0px;
    }

    .images p {
        text-align: center;
    }



    /* WEATHER SECTION */

    .weather-h3 {
        margin-top: 0px;
        padding: 0px;
        margin: 0px;
        font-size: 20px;
    }

    .weather,
    .forecast {
        display: grid;
        height: 40px;
        margin-top: 30px;
        margin-left: 60px;
        margin-right: 60px;
        align-self: center;
        border: 1px solid black;

        display: flex;
        justify-content: center;
        align-items: center;

        color: black;
        background-color: white;

    }

    #weather-icon {
        /* display: inline; */
        height: 35px;
    }

    /* Weather json start */

    .forecast {
        color: black;
        background-color: white;
        border: 1px solid black;
        width: 180px;
        height: 100px;
        /* line-height: 50px; */
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        line-height: 10px;
        font-size: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .forecast p {
        /* font-size: 1.7rem; */
        /* grid-row: 1; */
        color: black;
        margin: 0px;
        font-size: 20px;
    }

    .forecast img {
        /* grid-row: 2; */
        width: 60px;
        /* margin-top: -15px; */
    }


    /* Weather json end */

    /* TABLE SECTION FROM RENTALS.HTML START */

    table,
    th,
    td {
        border: 1px solid;
    }

    table {
        /* display: flex; */
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        text-align: center;
        background-color: white;
    }

    #theader {
        background-color: #008EFF;
        color: white;
        /* padding: 10px; */
    }

    th,
    td {
        padding: 10px;
    }

    /* TABLE SECTION FROM RENTALS.HTML END */

    /*----------- FORM --------------*/

    :root {
        --fieldset: black;
        --scoots: #008EFF;
        --legend: white;
        --required: red;
        --valid: green;
        --input: gray;
    }


    #formmessage {
        margin-top: 20px;
        display: block;
        text-align: center;
    }

    form fieldset {
        margin: 1rem 1.8rem;
        border: 1px solid var(--scoots);
        background-color: white;

        border-radius: 10px;
        padding: .5rem 2%;
        margin-left: 300px;
        margin-right: 300px;
    }

    fieldset ul li {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    form legend {
        color: var(--legend);
        padding: 0 .5rem;
        text-align: center;
        font-size: 1.2rem;
        background-color: var(--scoots);
    }

    form label.top,
    form div {
        display: block;
        padding-top: 1rem;
        color: var(--fieldset);
        font-size: 1rem;
        /* margin-left: 400px; */
    }

    form label.top input,
    form label.top select {
        -webkit-appearance: none;
        display: block;
        font-size: 1rem;
        border: solid 1px #999;
        border-radius: 4px;
        padding: .75rem;
        color: #555;
        width: 100%;
        max-width: 20rem;
        background-color: #e1e8f2;
    }

    .submitBtn {
        border: none;
        background-color: #48B5E8;
        color: white;
        font-weight: bolder;
        font-size: 22px;
        border-radius: 1rem;
        padding: .75rem 1.5rem;
        margin: 0 0 2rem 2%;
        width: 100%;
        max-width: 18rem;
        /* margin-left: 300px; */
        /* margin-top: 20px;
        margin-bottom: 10px; */
        margin: 0px 50% 15px;
        position: relative;
        left: -130px;
    }

    form label.top input:required {
        border-bottom: var(--required) solid 6px;
    }

    form label.top input:required:valid {
        border-bottom: var(--valid) solid 6px;
    }


    /*----------- FORM  --------------*/

    #h2form {
        grid-column: 1 / 4;
        text-align: center;
        color: var(--font-color);
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 60px;
        margin-right: 60px;
        line-height: 40px;
    }

    .imgty {
        display: flex;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;

        width: 700px;
        height: 350px;
    }

    #prating {
        margin-top: 20px;
        margin-bottom: -16px;
    }

    #rating {
        width: 180px;
        margin-bottom: 0;
        /* margin-top: 200px; */
    }

    #rangevalue {
        font-size: 2rem;
        color: navy;
        /* margin-top: 20px; */
    }

    #rangevalues {
        display: flex;
        margin: 0 0 0 0;
        width: 200px;
    }

    #rangevalues option {
        flex: 1 1 auto;
    }

    /*----------- FORM ADDITIONALS  --------------*/

    #joinnow {
        color: var(--font-color);
        text-align: center;
    }

    .membership {
        display: inline-block;
    }

    .rentaltype {
        display: block;
        padding: 0.75rem 0;
        font-size: 1rem;
    }

    #memlevel {
        color: black;
    }

    .membership-details {
        display: inline-block;
        vertical-align: top;
        margin-top: 40px;
        padding-left: 50px;
        width: 500px;
        line-height: 1.5rem;
    }

    .membership-details ul {
        list-style-type: circle;
    }


    /* FOOTER SECTION */

    footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 150px 50px;
        align-items: center;
        background-color: #333333;
    }

    footer p {
        color: white;
        justify-self: center;
        text-align: center;
    }

    #address {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #contactus {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    #hours {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .logo2 {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
        width: 200px;
        height: 200px;
        justify-self: center;
    }

    #author {
        grid-column: 1 / 5;
        grid-row: 2 / 3;
        color: lightskyblue;
        text-align: center;
        margin-top: 0px;
    }

    /* MAP */
    #map {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* CONTACT */
    #contact {
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 2;
    }

    #address1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    #address2 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }














}