header {
    display: grid;
    margin: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    align-items: center;
    grid-template-columns: auto auto;
    grid-template-rows: 170px;
    background-color: rgb(29, 77, 114);
}

img {
    padding: 15%;
    margin-left: auto;
    margin-right: 20px;
}

h1 {
    font-size: 24px;
    margin-left: 15px;
    margin-right: auto;
    color: white;
    font-family: 'Raleway', sans-serif;
}

nav ul {
    display: grid;
    list-style: none;
    align-items: center;
    padding: 0px;
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    grid-template-rows: repeat(5, 50px);
    font-size: 20px;
    text-align: center;
    background-color: black;
    font-family: 'Raleway', sans-serif;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    display: grid;
    margin-left: 40px;
    margin-right: 40px;
    align-items: center;
}

h2 {
    margin-top: 30px;
    font-size: 19px;
    text-align: center;
    color: rgb(51, 51, 51);
    border-bottom: 1px solid gray;
    font-family: 'Raleway', sans-serif;
}

h3 {
    display: grid;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    align-items: center;
    color: white;
    grid-template-rows: 50px;
    background-color: rgb(29, 77, 114);
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.card1,
.card2 {
    margin-top: 0px;
    margin-bottom: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    height: 270px;
}

.card2 p {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    align-items: center;
    color: black;
    line-height: 40px;
    padding: 20px;
}

section ul {
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    padding: 20px;
    margin: 0px;
}

footer {
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(29, 77, 114);
    color: white;
}

footer p {
    margin: 10px;
    padding: 10px;
}

#flag {
    padding: 0px;
    height: 50px;
    margin-left: 20px;
    vertical-align: middle
}

#lastModified {
    margin-top: -30px;
    color: yellow;
    font-size: 15px;
}