header {
    display: grid;
    margin: 100px;
    margin-bottom: 0px;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px;
    background-color: rgb(29, 77, 114);
}

img {
    padding: 15%;
    align-self: right;
    margin-left: auto;
}

h1 {
    font-size: 65px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav ul {
    display: grid;
    list-style: none;
    align-items: center;
    margin: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    grid-template-rows: repeat(5, 80px);
    font-size: 40px;
    text-align: center;
    background-color: black;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    display: grid;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
}

h2 {
    font-size: 40px;
    text-align: center;
    color: rgb(51, 51, 51);
    border-bottom: 1px solid gray;
}

h3 {
    display: grid;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 40px;
    text-align: center;
    align-items: center;
    color: white;
    grid-template-rows: 100px;
    background-color: rgb(29, 77, 114);
}

#card {
    margin-top: 0px;
    margin-bottom: 0px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

section ul {
    list-style: none;
}

footer {
    display: grid;
    text-align: center;
    align-items: center;
    line-height: 60px;
    font-size: 40px;
    margin: 80px;
}