sheader {
    display: grid;
    margin: 60px;
    margin-bottom: 0px;
    margin-top: 0px;
    align-items: center;
    grid-template-columns: auto auto;
    grid-template-rows: 250px;
    background-color: rgb(29, 77, 114);
}

img {
    padding: 15%;
    margin-left: auto;
}

h1 {
    font-size: 65px;
    color: white;
    font-family: 'Raleway', sans-serif;
}

nav ul {
    display: grid;
    list-style: none;
    align-items: center;
    margin: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    grid-template-rows: repeat(5, 80px);
    font-size: 40px;
    text-align: center;
    background-color: black;
    font-family: 'Raleway', sans-serif;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    display: grid;
    margin-left: 90px;
    margin-right: 90px;
    align-items: center;
}

h2 {
    font-size: 40px;
    text-align: center;
    color: rgb(51, 51, 51);
    border-bottom: 1px solid gray;
    font-family: 'Raleway', sans-serif;
}

h3 {
    display: grid;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    align-items: center;
    color: white;
    grid-template-rows: 100px;
    background-color: rgb(29, 77, 114);
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.card {
    margin-top: 0px;
    margin-bottom: 20px;
    border: 1px solid gray;
    border-radius: 10px;
}

.card p {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    align-items: center;
    color: black;
    line-height: 60px;
}

section ul {
    list-style: none;
    font-family: 'Raleway', sans-serif;
}

footer {
    text-align: center;
    line-height: 60px;
    font-size: 40px;
    margin-left: 60px;
    margin-right: 60px;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(29, 77, 114);
    color: white;
}

footer p {
    margin: 10px;
    padding: 20px;
}

#flag {
    padding: 0px;
    height: 60px;
    margin-top: 20px;
    margin-left: 20px;
    vertical-align: bottom;
}

#lastModified {
    margin-top: -30px;
    color: yellow;
}