:root {
    --fieldset: #445ba9;
    --required: red;
    --valid: green;
    --input: #9c2c13;
}

body {
    margin: 0 0 0 0;
}

header {
    display: grid;
    margin: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    align-items: center;
    grid-template-columns: auto auto;
    grid-template-rows: 170px;
    background-color: rgb(29, 77, 114);
}

img {
    padding: 15%;
    margin-left: auto;
    margin-right: 20px;
    /* align-items: center; */

}

h1 {
    font-size: 30px;
    margin-left: 15px;
    margin-right: auto;
    color: white;
    font-family: 'Raleway', sans-serif;
}

nav ul {
    display: grid;
    list-style: none;
    align-items: center;
    padding: 0px;
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    grid-template-rows: repeat(5, 50px);
    font-size: 20px;
    text-align: center;
    background-color: black;
    font-family: 'Raleway', sans-serif;
}

nav a {
    color: white;
    text-decoration: none;
}



/*----------- FORM --------------*/

#formmessage {
    margin-top: 20px;
    display: block;
    text-align: center;
}

form fieldset {
    margin: 1rem 1.8rem;
    border: 1px solid var(--fieldset);

    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: var(--fieldset);
    padding: 0 .5rem;
    text-align: center;
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
    color: var(--input);
    font-size: .8rem;
}

form label.top input,
form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);

}

form input.submitBtn {
    border: none;
    background-color: var(--input);
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    /* margin: 0 0 2rem 2%; */
    width: 100%;
    max-width: 22rem;
    margin-left: 40px;
    margin-top: -10px;
}

form label.top input:required {
    border-left: var(--required) solid 6px;
}

form label.top input:required:valid {
    border-left: var(--valid) solid 6px;
}


/*----------- FORM  --------------*/

#h1form {
    grid-column: 1 / 4;
    text-align: center;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 60px;
    margin-right: 60px;
    line-height: 60px;
}

#prating {
    margin-top: 20px;
    margin-bottom: -16px;
}

#rating {
    width: 180px;
    margin-bottom: 0;
    /* margin-top: 200px; */
}

#rangevalue {
    font-size: 2rem;
    color: navy;
    /* margin-top: 20px; */
}

#rangevalues {
    display: flex;
    margin: 0 0 0 0;
    width: 200px;
}

#rangevalues option {
    flex: 1 1 auto;
}




/*----------- FOOTER --------------*/

footer {
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(29, 77, 114);
    color: white;
}

footer p {
    margin: 10px;
    padding: 10px;
}

#flag {
    padding: 0px;
    height: 50px;
    margin-left: 20px;
    vertical-align: middle
}

#lastModified {
    margin-top: -30px;
    color: yellow;
    font-size: 15px;
}


/* Hamburguer button: small view navigation */
#menu {
    font-size: 2.5rem;
    border: 1px solid rgb(29, 77, 114);
    /* padding: .25rem .75rem; */
    background-color: rgb(29, 77, 114);
    color: white;
    position: absolute;
    top: .0rem;
    right: 1.5rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✖";
    color: rgb(99, 89, 148);
    font-weight: bolder;
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    /* background-color: #333; */
    /* color: #fff; */
}

.navigation li {
    display: none;
    padding: 10px;
}

.navigation li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation li a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
    display: block;
    width: 100%;

}

.open li a {
    display: block;
}

/*pseudo element*/
.active::first-line {
    color: yellow;
}

.herolabelshift {
    position: absolute;
    top: 395px;
    right: 50px;
    background: radial-gradient(#fff, #4D5B97);
    border: 1px solid rgba(0, 0, 0, .75);
    padding: .1rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
}

iframe {
    border: 0;
}