@media screen and (min-width: 500px) {

    header {
        display: grid;
        margin: 60px;
        margin-bottom: 0px;
        margin-top: 0px;
        align-items: center;
        grid-template-columns: auto auto;
        grid-template-rows: 180px;
        background-color: rgb(29, 77, 114);
    }

    img {
        padding: 15%;
        /* width: 70%; */
        margin-left: auto;
    }

    h1 {
        font-size: 50px;
        color: white;
        font-family: 'Raleway', sans-serif;
    }

    nav ul {
        display: grid;
        display: flex;
        align-items: center;
        line-height: 40px;
        padding: 0px;
        margin: 60px;
        margin-top: 0px;
        margin-bottom: 0px;
        grid-template-rows: repeat(5, 50px);
        font-size: 30px;
        text-align: center;
        background-color: black;
        font-family: 'Raleway', sans-serif;
    }

    nav ul li {
        flex: 1 1 auto;
    }

    nav a {
        color: white;
        text-decoration: none;
    }

    .hero img {
        width: 960px;
        height: 600px;
        padding: 0px;
        margin-top: 10px;
        margin-right: 0px;
    }

    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1 / 4;
    }

    .herolabel {
        position: absolute;
        top: 300px;
        right: 255px;
        background: radial-gradient(#fff, #4D5B97);
        border: 1px solid rgba(0, 0, 0, .75);
        padding: 1.5rem;
        box-shadow: 0 0 3rem #fff;
        opacity: 0.75;
        /* Buenas */
    }

    .herolabel h2 {
        margin: 0;
        padding: .25rem;
        font-weight: 700;
        font-size: 2rem;
        color: black;
        font-family: 'Raleway', sans-serif;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: -10px;
        margin-bottom: -10px;
        margin-left: 90px;
        margin-right: 90px;
        align-items: center;
    }

    h2 {
        grid-column: 1 / 4;
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 40px;
        text-align: left;
        color: rgb(51, 51, 51);
        border-bottom: 1px solid gray;
        font-family: 'Raleway', sans-serif;
    }

    h3 {
        display: grid;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 23px;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        align-items: center;
        color: white;
        grid-template-rows: 50px;
        background-color: rgb(29, 77, 114);
        border-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .card1 {
        grid-column: 1 / 3;
        margin-top: 0px;
        border: 1px solid gray;
        border-radius: 10px;
        height: 350px;
    }

    .card2 {
        grid-column: 3 / 4;
        margin-top: 0px;
        margin-bottom: 10px;
        margin-left: 10px;
        border: 1px solid gray;
        border-radius: 10px;
        height: 350px;
    }

    .card2 p {
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        align-items: center;
        color: black;
        padding: 0px;
    }



    /* weather info */

    #weather-div {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #city {
        grid-row: 1;
        grid-column: 1 / 4;
        margin: 0px;
        margin-top: 70px;
    }

    #weather-icon {
        padding: 0px;
        margin: 0px;
    }

    figure,
    #current-temp,
    #figcaption {
        grid-row: 2;
        margin: 0px;
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
        /* display: flex; */
        float: left;
        align-items: center;
        align-self: center;
        align-content: center;
        text-align: center;
        text-transform: capitalize;
        padding: 0px;
    }


    #visits {
        grid-row: 3;
        grid-column: 1 / 4;
        margin: 0px;
    }

    /* weather info end */

    section ul {
        list-style: none;
        font-family: 'Raleway', sans-serif;
        line-height: 28px;
        font-size: 21px;
        padding: 15px;
        padding-top: 5px;
        margin-bottom: 0px;
        margin-top: 4px;
    }

    #map {
        text-align: center;
        height: 300px;
        margin-top: 15px;
        margin-left: 90px;
        margin-right: 90px;
    }

    iframe {
        width: 100%;
    }

    footer {
        text-align: center;
        line-height: 30px;
        font-size: 20px;
        margin-top: 20px;
        margin-left: 60px;
        margin-right: 60px;
        font-family: 'Raleway', sans-serif;
        background-color: rgb(29, 77, 114);
        color: white;
    }

    footer p {
        margin: 10px;
        padding: 10px;
    }

    #flag {
        padding: 0px;
        height: 50px;
        margin-left: 20px;
        vertical-align: middle
    }

    #lastModified {
        margin-top: -30px;
        color: yellow;
        font-size: 15px;
    }

    #author br {
        display: none;
    }





    /* .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        border: 3px solid green;
      } */



    /* Hamburguer button: larger view navigation */
    #menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation {
        flex-direction: row;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    iframe {
        border: 0;
    }

}